
.icon-search:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-down-open-mini:before { content: '\e802'; } /* '' */
.icon-right-open-mini:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-headphones:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */