
.icon-search:before { content: '\e800'; } /* '' */
.icon-key:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-quote:before { content: '\e808'; } /* '' */
.icon-right-open-mini:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */