$default-font: "rajdhani", sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$grey-bg: #c5c5c5;
$black-dot: #221f1f;
$light-black: #393939;
$header-bg: #f8f7f3;
$grey-stick: #727272;
$grey-btn: #d0d0d0;
$menu-search-bg: #b1b1b1;
$search-text-color: #585858;
$menu-link-color: #292929;
$light-grey: #d1d1d1;
$total-price-bg: #dcdcdc;
$sale-bg: #4f4f4f;
$sale-color: #888888;
$dots-border: #929292;


$container-lg: 1160px;
$container-md: 960px;
$container-sm: 725px;
$container-xs: none;